body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: lightblue;
}

@keyframes fade_in{
  0% {opacity: 0;}
  100% {opacity: 1;}
  /*0% {background-color: red;}
  100% {background-color: yellow;}*/
}
@-webkit-keyframes fade_in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@font-face{
  font-family: eng;
  src: url(./fonts/Final.ttf);
}
@font-face{
  font-family: wk;
  src: url(./fonts/wk.ttf);
}
.engf{
  font-family: eng;
}
.wkf{
  font-family: wk;
}
.title1{
  font-size: 10vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.title2{
  font-size: 5vw;
  text-align: center;
  margin: 0px;
}
.title3{
  font-size: 5vw;
  text-align: center;
  margin: 0px;
  color: white;
}
.ibi{
  text-align: center;
}
.ibt{
  text-align: center;
  position: relative;
  top: -3px;
  padding: 0;
  margin: 0;
}

.link{
  color: lightblue;
}

.my_input{
  height: 30px;
  width: 50vw;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: wk;
}

.homepage{
  position: absolute;
  background-image: url(./picins/bg12.jpg);
  background-size: cover;
  background-position: 75% 50%;
  height: 100vh;
  width: 100vw;
  color: lightblue;
  text-align: center;
  animation: fade_in 1s;
  -webkit-animation: fade_in 1s;
}

.hpstyle{
  position: absolute;
  text-align: center;
  animation: fade_in 1s;
  -webkit-animation: fade_in 1s;
  width: 100vw;
  color: lightblue;
}
.bg{
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(./picins/bg12.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  height: 100%;
  width: 100%;
  animation: fade_in 1s;
  -webkit-animation: fade_in 1s;
  z-index: -10;
}

.question_out{
  width: 80vw;
  
  font-size: calc(3vw + 5px);
  
  background-color: white;
  opacity: 0.8;
  text-align: left;
  color: #4FC3F7;
  padding-top: 5px;
  margin-bottom: 25px;
  z-index: 1;

  border-radius: 10px;
}
.question_column{
  height: 40vw;
}
.triangle_out{
  position: relative;
  left: -49px;
}
.triangle2{
  width: 0;
  height: 0;
  border-top:10px solid transparent;
  border-left:10px solid transparent;
  border-right:40px solid white;
  border-bottom:10px solid transparent;
  position: absolute;
  opacity: 1;
}
.question_p{
  /*color: #ff3d00;*/
  color: black;
  white-space: pre-wrap;
  word-break: break-all;
  margin: 5px;
}
.question_time{
  text-align: center;
  font-family: wk;
  margin: 0;
}
.ajax{
  z-index: 1;
  color: white;
  /*position: relative;*/
}

.detail_qo{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 10vw;
}
.title4{
  /*color: white;*/
  font-weight: bold;
  font-size: 5vw;
  margin: 10px;
}
.AnswerInput{
  width: 80vw;
  height: 60vw;
  z-index: 2;
  border-radius: 10px;
}
.answer_out{
  opacity: 0.8;
}
.triangle{
  width: 0;
  height: 0;
  border-top:10px solid transparent;
  border-left:40px solid white;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
  position: relative;
  left: 90vw;
  top: -60px;
  z-index: 1;
}
.answer_buttons{
  position: relative;
  height: 61px;
  /*margin-bottom: 20px;*/
}
.back_link{
  position: absolute;
  left: 15px;
  top: 15px;
}